<plugin name='dojo' version='1.4.3.1' grailsVersion='1.3.0 &gt; *'>
  <author>Rob Meidal</author>
  <authorEmail>cfxram@codehaus.org</authorEmail>
  <title>Dojo 1.4.3 for Grails</title>
  <description>
    Adds Dojo Base as a Javascript Provider for Grails. This provides full support for
    &lt;g:formRemote&gt;, &lt;g:remoteField&gt;, &lt;g:remoteFunction&gt;, &lt;g:remoteLink&gt; and &lt;g:submitToRemote&gt;.

    Also adds two dojo tags: &lt;dojo:paginate&gt; and &lt;dojo:sortableColumn&gt;. These do the same thing
    that the grails versions of the tags but will do them via ajax calls. 

    For more information about the Dojo Toolkit please visit http://www.dojotoolkit.org/.
  </description>
  <documentation>http://grails.org/plugin/dojo</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.dojotoolkit.WidgetController</resource>
    <resource>org.dojotoolkit.Widget</resource>
    <resource>org.dojotoolkit.DojoTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>