<plugin name='dojo' version='1.6.1.12' grailsVersion='1.3.0 &gt; *'>
  <author>Rob Meidal</author>
  <authorEmail>cfxram@gmail.com</authorEmail>
  <title>Dojo 1.6.1 for Grails</title>
  <description>
    The Dojo Plugin adds the Dojo toolkit to your application. This javascript library provides
    a complete collection of user interface controls, giving you the power to create web
    applications that are highly optimized for usability, performance, internationalization,
    accessibility, but above all deliver an incredible user experience. This plugin provides full
    support for &lt;g:formRemote&gt;, &lt;g:remoteField&gt;, &lt;g:remoteFunction&gt;, &lt;g:remoteLink&gt; and
    &lt;g:submitToRemote&gt;.

    Also adds these two tags: &lt;dojo:paginate&gt; and &lt;dojo:sortableColumn&gt;. These do the same thing
    that the grails versions of the tags but will do them via ajax calls.

    Adds these convenient widget tags:
      &lt;dojo:header&gt;, &lt;dojo:require&gt;, &lt;dojo:css&gt;,
      &lt;dojo:grid&gt; (&lt;dojo:col&gt;, &lt;dojo:bind&gt;),
      &lt;dojo:dataSourceView&gt; (&lt;dojo:nodeTemplate&gt;, &lt;dojo:nodeDefaultTemplate&gt;),
      &lt;dojo:popOver&gt; (&lt;dojo:popOverContent&gt;, &lt;dojo:closePopOver&gt;),
      &lt;dojo:frame&gt; (&lt;dojo:frameLink&gt; &lt;dojo:onload&gt;),
      &lt;dojo:tree&gt; (&lt;dojo:treeNode&gt;, &lt;dojo:treeLeaf&gt;),
      &lt;dojo:help&gt;,
      &lt;dojo:toolip&gt;,
      &lt;dojo:editor&gt;,
      &lt;dojo:datePicker&gt;,
      &lt;dojo:timePicker&gt;,
      &lt;dojo:dateTimePicker&gt;,
      &lt;dojo:numberPicker&gt;

    For more information about the Dojo Toolkit please visit http://www.dojotoolkit.org/.
  </description>
  <documentation>http://grails.org/plugin/dojo</documentation>
  <type>DojoGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>org.dojotoolkit.WidgetController</resource>
    <resource>org.dojotoolkit.Widget</resource>
    <resource>org.dojotoolkit.ContentPaneTagLib</resource>
    <resource>org.dojotoolkit.DataSourceViewTagLib</resource>
    <resource>org.dojotoolkit.DateAndTimeTagLib</resource>
    <resource>org.dojotoolkit.DialogTagLib</resource>
    <resource>org.dojotoolkit.DojoTagLib</resource>
    <resource>org.dojotoolkit.EditorTagLib</resource>
    <resource>org.dojotoolkit.FrameTagLib</resource>
    <resource>org.dojotoolkit.GridTagLib</resource>
    <resource>org.dojotoolkit.MenuTagLib</resource>
    <resource>org.dojotoolkit.PaginateTagLib</resource>
    <resource>org.dojotoolkit.PanelTagLib</resource>
    <resource>org.dojotoolkit.PopOverTagLib</resource>
    <resource>org.dojotoolkit.ProgressBarTagLib</resource>
    <resource>org.dojotoolkit.SortableColumnTagLib</resource>
    <resource>org.dojotoolkit.TabTagLib</resource>
    <resource>org.dojotoolkit.TooltipTagLib</resource>
    <resource>org.dojotoolkit.TreeTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>