/******************************************/
/* Tabs (Fix css bug for IE 6) */
.soria div.dijitTabContainerTop-spacer{
  height:2px;
  font-size:0;
}
/* Tabs */
/******************************************/





/******************************************/
/* Panel (Soria) */
table.dojo-ui-panel{
  display:inline;
}

.dojo-ui-panel-title.dijitTitlePaneTitle{
	width:100%;
}

td.dojo-ui-panel-body{
  height:100%;
}
/* Panel (Soria) */
/******************************************/