<div>
	<div style="position:relative; top:0;height:${progressStatusHeight}px; text-align:right">
    <ul class="dojoxWizardProgress" dojoAttachPoint="progressButtons"></ul>
  </div>
	
	<div dojoAttachPoint="containerNode" style="height:${contentHeight}px"></div>
	
	<div dojoAttachPoint="wizardButtons" style="position:relative; top:0; height:${btnHeight}px">
		<div style="float:left">
			<button dojoType="dijit.form.Button" dojoAttachPoint="cancelBtn" dojoAttachEvent="onClick:onClickCancel">${cancelLabel}</button>
		</div>
		<div style="float:right">
			<button dojoType="dijit.form.Button" type="button" dojoAttachPoint="previousBtn" dojoAttachEvent="onClick:onClickPrevious">${previousLabel}</button>
			<button dojoType="dijit.form.Button" type="button" dojoAttachPoint="nextBtn" dojoAttachEvent="onClick:onClickNext">${nextLabel}</button>
			<button dojoType="dijit.form.Button" type="button" dojoAttachPoint="completeBtn" dojoAttachEvent="onClick:onClickComplete">${completeLabel}</button>
		</div>
	</div>	
</div>	