/******************************************/
/* DojoGrailsSpinner.js */
body div.grailsdojospinner{
	position:absolute;
	z-index:100;
	display:none;
	height:100%;
	width:100%;
	background-image:url(../images/grailsdojospinner.gif);
	background-repeat:no-repeat;
	background-position:center;
}
/* DojoGrailsSpinner.js */
/******************************************/





/******************************************/
/* Tabs */
.soria .dijitTabPane, .tundra .dijitTabPane{
  padding:0; 
  overflow:auto;
}
/* Tabs */
/******************************************/