/******************************************/
/* DojoGrailsSpinner.js */
body div.grailsdojospinner{
  position:absolute;
  top:expression(300+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
  left:0;
  height:50px;
  width:98%;
}
/* DojoGrailsSpinner.js */
/******************************************/





/******************************************/
/* Tabs (Fix css bug for IE 6) */
.soria div.dijitTabContainerTop-spacer{
  height:2px;
  font-size:0;
}
/* Tabs */
/******************************************/





/******************************************/
/* Panel (Soria) */
table.dojo-ui-panel{
  display:inline;
}

.dojo-ui-panel-title.dijitTitlePaneTitle{
	width:100%;
}

td.dojo-ui-panel-body{
  height:100%;
}
/* Panel (Soria) */
/******************************************/