/******************************************/
/* DojoGrailsSpinner.js */
body div.grailsdojospinner{
	position:absolute;
	z-index:100;
	display:none;
	height:100%;
	width:100%;
	background-image:url(../images/grailsdojospinner.gif);
	background-repeat:no-repeat;
	background-position:center;
}
/* DojoGrailsSpinner.js */
/******************************************/





/******************************************/
/* Tabs */
.soria .dijitTabPane, .tundra .dijitTabPane{
  padding:0; 
  overflow:auto;
}
/* Tabs */
/******************************************/





/******************************************/
/* dijit.Editor */
.dojo-ui-editor {
  display: inline-block;
  padding: 0;
}
.dojo-ui-editor .dijitComboBox {
  width: 70px;
}
.dojo-ui-editor .DojoUiEditor {
  border: 1px solid #ccc;
}
.dojo-ui-editor .dijitEditorIFrameContainer{
  padding: 3px 3px 1px 10px;
}
/* dijit.Editor */
/******************************************/





/******************************************/
/* Panel (Soria & Tundra) */
table.dojo-ui-panel{
  border-collapse:collapse;
  position:relative;
  top:0;
	width:100%;
	height:130px;
  padding:0;
  margin-bottom:1em;
  border:1px solid #ccc;
}
.soria table.dojo-ui-panel{
  border:1px solid #8BA0BD;
}
.tundra table.dojo-ui-panel{
  border:1px solid #ccc;
}
.dojo-ui-panel-title, .dojo-ui-panel-footer{
	height:2em;
  line-height:2em;
	overflow:hidden;
}
.dojo-ui-panel-footer{
	text-align:right;
}
.dojo-ui-title-text{
	line-height:2em;
	float:left;
}
td.dojo-ui-panel-body{
  position:relative;
	padding:5px;
	margin:5px;
	vertical-align:top;
}
.dojo-ui-panel-help{
	float:right;
	margin-right:2px;
	margin-top:4px;
    width:20px;
    height:20px;
    background-image:url(../images/icons/small/help.png);
    background-repeat:no-repeat;
}
.soria .dojo-ui-panel-title.dijitTitlePaneTitle{
	border-width:0;
	border-bottom:1px solid #8BA0BD;
	color:#243C5F;
}
.dojo-ui-panel-title.dijitTitlePaneTitle{
  background:#eee;
  border:0;
  border-bottom:1px solid #ccc;
  color:black;
}

/*Delete Icon*/
.dojo-ui-panel-delete-icon{
  cursor:pointer;
  width:20px;
  height:20px;
  background-image:url(../images/icons/small/delete-round-gray.png);
  background-repeat:no-repeat;
  float:right;
  margin-top:4px;
}
.dojo-ui-panel-delete-icon:hover{
  background-image:url(../images/icons/small/delete-round.png);
}

/* Dialog Sheet */
.dojo-ui-panel .dojo-ui-dialogsheet{
  width:90%;
  height:100px;
  border:1px solid #ccc;
  border-top:0;
  position:absolute;
  top:0;
  margin-left:5%;
  background-color:white;
}
.soria .dojo-ui-panel .dojo-ui-dialogsheet{
  margin-top:31px;
}
.tundra .dojo-ui-panel .dojo-ui-dialogsheet{
  margin-top:35px;
}

/* Panel (Soria & Tundra) */
/******************************************/